# --- 编译产物 ---
# Windows 可执行文件
*.exe
*.dll

# Mac/Linux 可执行文件
*.dylib
*.so

# 忽略你的项目主程序名
0xPet
0xPet.exe
*.test
*.out

# --- 操作系统垃圾文件 ---
# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ---  IDE 和编辑器配置 ---
# VS Code
.vscode/
!.vscode/extensions.json
*.code-workspace

# JetBrains
.idea/
*.iml

# ---  Go 依赖目录 ---
vendor/

# ---  临时文件 ---
*.log

# --- User Data ---
config.json

# 缓存的图片
assets/saved_pet.png